<div class="text">
    <h3>
        Hey, again ;)
    </h3>
    
    <p class="identity">
        I'm Nethra and what I haven't mentioned before is that I like <span class="highlight">solving problems</span> and <span class="highlight">developing</span> new applications using my <span class="highlight">reasoning</span> and <span class="highlight">creativity</span>.
        I'm originally from Hyderabad (India) but currently studying near Chennai (India).
        I usually am a cheerful person and maintain <span class="highlight">good public realtions</span>.
        I like to keep myslef occupied all the time either by doing something I like or learning something new.
        I'm also really keen about space sciences and research.
        I don't have too many hobbies but playing basketball, reading books and watching series are a few of them.
        <br>
        <br>
        <br>
        Now, professionally, I'm still at the beginning of my career and currently exploring all the fields I find interesting.
        I also like to keep myself organized all the time and complete my tasks before the deadline.
        I like taking up challenges one after the other.
        I don't so easily give up on difficulties, I'm kind of stubborn that way but my friends call it patience.
        I see that as both my strongest and weakest trait.

        <br>
        <br>
        <br>
        So that's all about me! To contact me, you can send an email anytime to <span style="font-style: italic;font-weight: bold;">nethrag16@gmail.com</span>.
        You can also contact me via any of the social links available in the main sidebar!
        <br>
        Browse through the sections to know more about me.
        <br>
        <br>
        Once again, thank you for visiting my site!
        <br>
        Have a nice day!!!
            <br>
            <br>
            <div style="display:flex;justify-content: center;">
                {% include "about/stars.html" %}
            </div>
            <br>

    </p>
</div>
    